*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
@font-face{
    font-family: gtbit1;
    src: url(../images/ProductSans-Thin.ttf);
}
@font-face{
    font-family: gtbit2;
    src: url(../images/AvenirNextLTPro-Regular.otf);
}
body{
    background: url(../images/backgroundW.png) center center fixed no-repeat;
    background-size: cover;
}
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #A94D9D; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(171deg, #6B66AE 0%, #4CC7E8 35%, #F171AB 100%); 
    height:50px;
    border-radius: 10px;
    transition: 0.5s all linear;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(171deg, #6B66AE 0%, #F171AB 35%, #4CC7E8 100%); 
  }
/* preloader */
  .preloader{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}
.preloader>div{
    width: 600px;
    height: 600px;
}
@media(max-width: 1100px){
    .preloader>div{
    width: 250px;
    height: 250px;
}
.preloader svg{
    width: 250px!important;
    height: 250px!important;
}
}
.preloader svg{
    width: 600px;
    height: 600px;
}
.pulse{
    animation-duration: .2s;
    -webkit-animation-duration: .2s;
    -moz-animation-duration: .2s;
    -o-animation-duration: .2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}

/* preloader end */

/* to top start */

#totop{
    display: none;
    z-index: 10;
    transition: all 1s linear;
}

/* to top end */
a:hover{
    text-decoration: none!important;
}
.row{
    margin:0!important;
}
/* mobile nav start */
#open{
    display: none;
    position: fixed;
    top: 0;
    z-index: 10;
}
#close{
    position: fixed;
    top: 10px;
    z-index: 10000;
}
@media(max-width:999px){
    #open{
        display: block!important;
    }
    .mobilenav{
        display: flex!important;
    }
    #windownav{
        display: none;
    }
}
@media(min-width:1000px){
    #open,#close,.mobilenav{
        display: none;
    }
    #windownav{
        display: block;
    }
}
.mobilenav{
    width: 0%;
    height:0vh;
    background-color:#7fffd4 ;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all 0.5s linear;
}
@media(max-width:993px){
    .mobilenav{
        border-bottom-right-radius: 50px;
    }
}
.mobilenav img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
ul li,a{
    list-style: none;
    text-decoration: none;
}
.close{
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 100;
}
.mobilenav ul {
    position: relative;
    perspective: 100px;
    color: rgb(252, 248, 248);
    padding: 0px!important;
    margin: 0px!important;
}
#list{
    display: none;
}
.mobilenav ul li a{
    color: white;
}
.mobilenav ul li a:hover{
    text-decoration: none!important;
}
.mobilenav ul li{
    transform-style:preserve-3d!important;
    width: 250px;
    height: 35px;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    font-family:gtbit1;
    transition: all 0.5s linear;
    
}
.mobilenav ul li:hover:nth-child(1),.mobilenav ul li:hover:nth-child(2),.mobilenav ul li:hover:nth-child(3),.mobilenav ul li:hover:nth-child(4),.mobilenav ul li:hover:nth-child(5),.mobilenav ul li:hover:nth-child(6){
    box-shadow: inset 3px 3px 10px rgb(98, 233, 188),
                inset -3px -3px 10px white;
    font-weight:bold;
    font-size: 27px;
}


/* mobile nav end */


/* window nav start */

.windownav{
    font-family: gtbit1;
}
.windownav ul li a{
    color: #6B66AE;
    font-weight: bolder;
    font-size: 20px;
}
.windownav ul li a:hover{
    text-decoration: none;
}
.windownav ul li{
    position: relative;
}
.windownav ul li:nth-child(1)::before,.windownav ul li:nth-child(2)::before,.windownav ul li:nth-child(3)::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    border: none;
    border-bottom: 1px dashed #4CC7E8;
    transition: 0.5s all linear;
}
.windownav ul li:nth-child(1):hover::before,.windownav ul li:nth-child(2):hover::before,.windownav ul li:nth-child(3):hover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px dashed #4CC7E8;
    transition: 0.5s all linear;
    z-index: -1;
}
.getticket{
    background-color: #4CC7E8;
    border-radius: 5px;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
    font-family: gtbit1;
    transition: 0.5s all linear;
}
.getticket:hover{
    font-weight: bolder;
    box-shadow: 2px 2px 10px rgb(46, 148, 177);
}
.getticket:focus{
    outline: none;
}
/* window nav end */

/* front start */


@media(max-width:1000px){
    .row1{
        flex-wrap: wrap-reverse!important;
    }
}
#gates1{
    font-size: 40px;
    font-family: gtbit2;
    color: #6B66AE;
} 
.jackInTheBox{
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
}
.balloons{
    animation: float 1s alternate infinite linear;
    -webkit-animation: float 1s alternate infinite linear;
    -moz-animation: float 1s alternate infinite linear;
    -o-animation: float 1s alternate infinite linear;
}
@keyframes float{
    0%{
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
    30%{
        transform: translateX(15px);
        -webkit-transform: translateX(15px);
        -moz-transform: translateX(15px);
        -o-transform: translateX(15px);
        
        transform: translateX(7px);
        -webkit-transform: translateX(7px);
        -moz-transform: translateX(7px);
        -o-transform: translateX(7px);
    }
    60%{
        transform: translateX(-15px);
        -webkit-transform: translateX(-15px);
        -moz-transform: translateX(-15px);
        -o-transform: translateX(-15px);

        transform: translateX(-7px);
        -webkit-transform: translateX(-7px);
        -moz-transform: translateX(-7px);
        -o-transform: translateX(-7px);
    }
    90%{
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform:translateY(-5px);
        -o-transform: translateY(-5px);
    }
} 
.lightSpeedIn{
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
}
/* front end */


/* countdown */

.welcome{
    font-size: 60px;
    color: #6B66AE;
}
.countdown{
    font-family: gtbit1;
    justify-content: flex-end;
}
@media(max-width:1000px){
    .countdown{
    justify-content:center;
}
.countunit{
    font-size: 25px!important;
}
}
@media(max-width:500px){
    
    .welcome{
    font-size: 40px;
}
}
.counter{
    /* background-color: rgb(247, 250, 252); */
    /* height: 300px; */
    align-items: center;
    position: relative;
}
.countunit{
    font-size: 40px;
}
.count{
    border: none;
    border-radius: 5px;
    height: 80px;
    line-height: 80px;
    font-size: 60px;
    font-weight: bolder;
    color: white;
}

.calendar svg{
    width: 100%;
}

/* flashback start */


.bgimgline div div img{
    width: 600px;
    height: 200px;
}
.bgimgline div .container1{
    width: 100%;
}
@media(max-width:1200px){
    .bgimgline div .img{
        display: none;
    }
    .bgimgline div div img{
        width: 500px!important;
        height: 200px!important;
    }
}
@media(max-width:800px){
    .bgimgline div div img{
        width: 350px!important;
        height: 150px!important;
    }
}
@media(max-width:550px){
    .bgimgline div div img{
        width: 300px!important;
        height: 120px!important;
    }
}
/* flashback end */


/* memories start */



#mem,#flashb{
    font-size: 40px;
    color: #A895C7;
    font-weight: bolder;
    font-family: gtbit1;
    border: none;
    position: relative;
    cursor: pointer;
}
#mem::before,#flashb:before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom: 2px dashed #eb12bc;
    width: 50%;
    transition: 0.5s width linear;
}
#mem:hover::before,#flashb:hover::before{
    width: 100%;
}
section
{
    width: 100%;
    height : 100vh;
}

section .video
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
}
section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .navigation
{
    position: absolute;
    bottom:7%;
    left:35%;
    z-index: 10;
    display: flex;
}  

section .navigation li
{
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: #fff;
    padding: 3px 3px 0;
    opacity: 0.2;
    transition: 0.5s;
}

section .navigation li:hover
{
    opacity: 1;
}

section .navigation li img
{
    width: 120px;
    transition: 0.5s;
}

section .navigation li img:hover
{
    width: 150px;  
}
@media(max-width:1000px){
    section
{
    width: 100%;
    height : 80vh;
}

    section .navigation
    {
        left: 25%;
    }
}
@media(max-width : 680px){
        
    section
    {
        width: 100%;
        height : 50vh;
    }

    section .navigation
    {
        left: 25%;
    }
        
        section .navigation li img
    {
        width: 70px;
        transition: 0.5s;
    }

    section .navigation li img:hover
    {
        width: 80px;  
    }
    
}
@media(max-width:450px){
    section
    {
        width: 100%;
        height : 40vh;
    }
    section .video{
        height: 80%;
    }
    section .navigation{
        left: 15%;
    }
}
@media(max-width:350px){
    section .navigation li img
    {
        width: 40px;
    }

}
/* memories end */


/* footer start */

.footer{
    background-color: rgb(250, 246, 249);
    font-family: gtbit1;
}
.shake{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}
.contacts{
    font-size: 60px;
}
.footer div:nth-child(2)>div div:nth-child(1) i{
    color: #3e12eb;
}
.footer div:nth-child(2)>div div:nth-child(2) i{
    color: #6B66AE;
}
.footer div:nth-child(2)>div div:nth-child(3) i{
    color: #4CC7E8;
}
.footer div:nth-child(2)>div div:nth-child(4) i{
    color: rgb(153, 10, 10);
}
/*  */
.hrotate:hover  div:nth-child(1), .hrotate1:hover{
    transform: rotate(4deg);
}
.hrotate:hover{
    color: rgb(221, 50, 50)!important;
}
@media(max-width: 1000px){
    .enjoy{
        font-size: 25px!important;
    }
    .party1{
        display: none;
    }
    .contacts{
        font-size: 40px!important;
    }
}
a:hover{
    text-decoration: none!important;
}
.upperfooter{
    background-color: rgba(250, 246, 249, 0.568);
    border: 1px dashed #eb12bc;
    font-family: gtbit1;
}
.upperfooteri{
    font-size: 40px;
    color: #eb12bc;
}
.heartBeat{
    animation-iteration-count: infinite;
}

.developer{
    font-size: 20px;
}
@media(max-width:1000px){
    .developer{
        font-size: 15px;
    }
}
/* footer end */
